# Django
DJANGO_SECRET_KEY=
DEBUG_MODE=False
ALLOW_HOSTS="localhost,example.com"
CSRF_TRUSTED_HOSTS="https://localhost,http://localhost"

# Redis
REDIS_HOST=
REDIS_PASSWORD=

# hCaptcha turnstile
HCAPTCHA_SITEKEY=
HCAPTCHA_SECRETKEY=

# JWT ES256 Keypair
JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=